{% extends '@SyliusAdmin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% set header = 'setono_sylius_peak.ui.peak'|trans %}

{% block title %}{{ header }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="column">
        {{ headers.default(header, 'truck', 'setono_sylius_peak.ui.peak_index'|trans) }}
    </div>

    <div class="ui hidden divider"></div>

    {% if apiError %}
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui segment">
                    <div class="ui negative message">
                        <div class="header">There was an error connecting to the API</div>
                        <p>{{ apiError }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui segment">
                    <h4 class="ui header">{{ 'setono_sylius_peak.ui.webhooks'|trans }}</h4>

                    {% if webhooksShouldBeRegistered %}
                        <p>{{ 'setono_sylius_peak.ui.register_webhooks_information'|trans }}</p>
                    {% endif %}
                    <a href="{{ path('setono_sylius_peak_admin_peak_register_webhooks') }}" class="ui primary button">
                        {{ 'setono_sylius_peak.ui.register_webhooks'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
